h1{
    color:azure
}
.center {
    text-align: center;
    color: red;
  }
  div{
  height:100vh;
  background-image: url('https://www.publicdomainpictures.net/pictures/320000/velka/background-image.png');
  }